body {
  font-family: Arial, sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  text-align: center;
  color: #333;
}

.draggable {
  user-select: none;
}

.draggable:active {
  background-color: lightblue; /* Apenas para visualizar durante o drag */
}

.droppable {
  background: #f4f5f7;
  padding: 16px;
  border-radius: 8px;
  min-height: 500px;
  width: 250px;
}
